h4 {
	text-align: center;
	padding-top: 15px;
}

.card {
	text-align: center;
}

a {
	width: 100%;
	margin-bottom: 10px;
}

.horizontal-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.list-group-item {
	display: flex;
	flex-direction: column;
}

h6 {
	text-transform: uppercase;
}
