.add-form .errors {
	text-align: center;
}

.add-form label {
	text-transform: capitalize;
}

.add-form .lang-code {
	text-transform: none;
}

.add-form .info-text {
	text-align: center;
	font-size: larger;
	padding: 25px;
}

.modal-title {
	text-transform: capitalize;
}
